body{
    margin: 0 auto;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(39, 32, 78);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.container>div{
    width: 65%;  
}

h1, h3{
    color:#fff;
    text-align: center; 
}

.displayTimer h3{
    height: 10vh;
    overflow-wrap: break-word;
}


