body{
    margin: 0 auto;
  
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 95%;
    text-decoration: none;
    /* background-color: rgb(39, 32, 78); */
    
  
}

.center{
    display: flex; 
  justify-content: center; 
 align-items: center;

 width: 100%;
}

h1, h3{
    color:#04289e;
    text-align: center; 
}

.displayTimer h3{
    height: 10vh;
    overflow-wrap: break-word;
}

/* ------------  teamInningStatus   ------------- */
.teamInningStatus{
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(245, 242, 220); */
  width: 90%;
  margin-left: 5%;
  gap: 10px;
}
.teamInningStatus>div{
    width: 50%;
}

.team_Status{
    background-color: #04289e;
    display: flex;
    flex-basis: content;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    color: aliceblue;
    height: 5vh;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.tmDetail{
    display: flex;
    height: auto;
    /* background-color: aquamarine; */
    background-color: rgb(235, 234, 231);
    width: 100%;
    flex-direction: column;
    gap: 20px;
   
}
.tmDetail>div{
    display: flex;
   
    justify-content: space-around;
    flex-basis: content;
    
}

.tmSummry>div{
    font-weight: bolder;
}

.team_Winner h1{
    color: rgba(118, 185, 19, 0.909);
}


